default: &default
  host: 127.0.0.1
  adapter: mysql2
  init_command: "SET @@SESSION.sql_mode = ''"
  port: <%= ENV['DB_PORT'] || 3306 %>

development:
  <<: *default
  database: fedena
  username: fedena
  password: fedena 

test: &test
  <<: *default
  database: fedena
  username: fedena
  password: fedena 

production:
  <<: *default
  host: localhost
  database: fedena
  username: fedena
  password: fedena
cucumber:
  <<: *test
