default: &default
  adapter: mysql2
  encoding: utf8
  init_command: "SET @@SESSION.sql_mode = ''"
  port: <%= ENV['MYSQL_PORT'] || 3306 %>
  host: <%= ENV['MYSQL_HOST'] || '127.0.0.1' %>
  username: <%= ENV['MYSQL_USER'] || 'fedena' %>
  password: <%= ENV['MYSQL_PASSWORD'] || 'fedena' %>

development:
  <<: *default
  database: fedena

test: &test
  <<: *default
  database: fedena_test

production:
  <<: *default
  database: fedena_production
cucumber:
  <<: *test
