default: &default
  adapter: mysql2
  init_command: "SET @@SESSION.sql_mode = ''"
  port: 3306

development:
  <<: *default
  host: localhost
  database: fedena
  username: fedena
  password: 

test: &test
  <<: *default
  host: localhost
  database: fedena
  username: fedena
  password: fedena

production:
  <<: *default
  host: localhost
  database: fedena
  username: fedena
  password: fedena
cucumber:
  <<: *test
